:root {
  --primary-color: #dbd3ad;
  --secondary-color: #002400;
  --olive: #273b09;
  ---light-green: #58641d;
  --background-co: #ffffff;
}

body {
  background: var(--background-co);
}

a {
  color: var(--primary-color);
}

img {
  background: var(--background-co);
  padding: 20px 20px 20px 20px;

  border-radius: 10px;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
