:root {
  --primary-color: #dbd3ad;
  --secondary-color: #273b09;
  --olive: #58641d;
  --lightgreen: #869524;
  --backgroundco: #ffffff;
}

body {
  background: var(--background-co);
}

a {
  color: var(--lightgreen);
}

img {
  background: var(--background-co);
  padding: 20px 20px 20px 20px;

  border-radius: 10px;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
